
Main Code/Data/2020-05-09 Wrong Matrix/sortie_rate_300Ps_LaserOFF_B0.dat
Main Code/Data/sortie_rate_300Ps_LaserOFF_B0.dat
Main Code/Data/2020-05-09 Wrong Matrix/sortie_rate_300Ps_Laser100kW_B250.dat
Main Code/Data/2020-05-09 Wrong Matrix/sortie_rate_300Ps_Laser10kW_B0.dat
Main Code/Data/2020-05-09 Wrong Matrix/sortie_rate_300Ps_Laser20kW_B250.dat
Main Code/Data/sortie_rate_100Ps_LaserOFF_B0.dat
Main Code/Data/sortie_rate_100Ps_LaserOFF_B1e5.dat
Main Code/Data/sortie_rate_100Ps_LaserOFF_B1e8.dat
Main Code/Data/sortie_rate_300Ps_LaserOFF_B0.dat
Main Code/Data/sortie_rate_100Ps_LaserOFF_B0.dat
Main Code/Data/sortie_rate_100Ps_LaserOFF_B1e5.dat
Main Code/Data/sortie_rate_100Ps_LaserOFF_B1e8.dat
Main Code/Data/sortie_rate_300Ps_LaserOFF_B0.dat
Main Code/Data/donnee_Mol_N2000_1000ns_LaserOFF_Bxz250_RNG2_0K.dat
Main Code/Data/3P1/Scanning runs/donnee_Mol_N4000_24ns_P20_POLsp_BW500_DET-20-10_Bxz250_RNG2.dat
Main Code/Data/3P1/Scanning runs/donnee_Mol_N4000_24ns_P20_POLsp_BW500_DET10-20_Bxz250_RNG2.dat
Main Code/Data/3P1/Scanning runs/donnee_Mol_N4000_24ns_P20_POLsp_BW50_DET-10+10_Bxz250_RNG2.dat
Main Code/Data/3P1/Scanning runs/donnee_Mol_N4000_24ns_P20_POLsp_BW50_DET-10.5+10.5_Bxz250_RNG2.dat
Main Code/Data/Preparatory Checks/donnee_Mol_N2000_1000ns_LaserOFF_Bxz250_RNG2_0K.dat
Main Code/Data/3P1/Old Scanning Runs, Wrong/donnee_Mol_N4000_24ns_P20_POLsp_BW50_DET-10.5+10.5_Bxz250_RNG2.dat
Main Code/Data/3P1/Old Scanning Runs, Wrong/donnee_Mol_N4000_24ns_P20_POLsp_BW50_DET-10+10_Bxz250_RNG2.dat
